<html class="csstransforms csstransforms3d csstransitions js_active  vc_desktop  vc_transform  vc_transform ">
<!-- Mirrored from html.creaws.com/clinico/contacts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Dec 2015 19:12:12 GMT -->
<head>
    <style type="text/css">
        .gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
            font-weight: 400;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <style type="text/css">
        .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
            font-size: 10px;
        }
    </style>
    @*<style type="text/css">@ media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@ media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style>*@
    <style type="text/css">
        .gm-style {
            font-family: Roboto,Arial,sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none;
        }

            .gm-style img {
                max-width: none;
            }
    </style>
    <title>Clinico - Responsive Medical and Health Template</title>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="http://themeforest.net/user/CreativeWS/portfolio">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!--/ metas -->
    <!-- styles -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/uyari.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/layerslider.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/fullwidth/skin.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/font-awesome.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/owl.carousel.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/jquery.fancybox.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/styles.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/color-blue.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/tuner/css/styles.css")>

    <!--/ styles -->
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/23/2/intl/tr_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/23/2/intl/tr_ALL/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/23/2/intl/tr_ALL/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/23/2/intl/tr_ALL/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/23/2/intl/tr_ALL/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps/api/js/ViewportInfoService.GetViewportInfo?1m6&amp;1m2&amp;1d-37.834133789783635&amp;2d144.90155900197192&amp;2m2&amp;1d-37.79209284966308&amp;2d145.02361334425746&amp;2u15&amp;4str-TR&amp;5e0&amp;6sm%40330000000&amp;7b0&amp;8e0&amp;9b0&amp;callback=_xdc_._1n3nx2&amp;token=20352"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/23/2/intl/tr_ALL/stats.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/23/2/intl/tr_ALL/controls.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://mts1.googleapis.com/maps/vt?pb=!1m4!1m3!1i15!2i29576!3i20106!1m4!1m3!1i15!2i29576!3i20107!1m4!1m3!1i15!2i29577!3i20106!1m4!1m3!1i15!2i29577!3i20107!1m4!1m3!1i15!2i29578!3i20106!1m4!1m3!1i15!2i29578!3i20107!1m4!1m3!1i15!2i29579!3i20106!1m4!1m3!1i15!2i29579!3i20107!1m4!1m3!1i15!2i29580!3i20106!1m4!1m3!1i15!2i29580!3i20107!2m3!1e0!2sm!3i330401578!3m9!2str-TR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e3!12m1!5b1&amp;callback=_xdc_._h66d6s&amp;token=128616"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1sfile%3A%2F%2F%2FC%3A%2FUsers%2FMERT1%2FDesktop%2FNutraTemplate%2Fhtml.creaws.com%2Fclinico%2Fcontacts.html&amp;callback=_xdc_._8d9dsd&amp;token=102021"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps/api/js/QuotaService.RecordEvent?1sfile%3A%2F%2F%2FC%3A%2FUsers%2FMERT1%2FDesktop%2FNutraTemplate%2Fhtml.creaws.com%2Fclinico%2Fcontacts.html&amp;5e0&amp;6u1&amp;7sxkwz5k&amp;callback=_xdc_._7xdjot&amp;token=2622"></script>
</head>

<body>

    <div class="page">

        <!-- page header -->
        <header class="page-header main-page sticky">
            <div class="sticky-wrapp">
                <div class="sticky-container">
                    <!-- logo -->
                    <section id="logo" class="logo">
                        <div>
                            <a href="index.html"><img src=@Url.Content("/Content/img/blue/logo.png") width="190" height="50" alt="Clinico"></a>
                        </div>
                    </section>
                    <!--/ logo -->
                    <!-- main nav -->
                    <nav class="main-nav">
                        <ul>
                            <li>
                                <a href="index.html"><i class="fa fa-plus"></i>Home</a>
                                <ul>
                                    <li>
                                        <a href="index.html">Medical Style</a>
                                        <ul>
                                            <li class="text">
                                                <h2>Main Campus</h2>
                                                <hr>
                                                123 Fashion Avenue<br>New York, MO 265984
                                                <hr>
                                                203-284-2818<br>clinico@domain.com
                                                <a href="#" class="more"><i class="fa fa-angle-double-right"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="home-news.html">News Style</a></li>
                                    <li><a href="wellness-home.html">Wellness Style</a></li>
                                    <li><a href="home-one-page.html">Home Alternative</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="services.html"><i class="fa fa-plus"></i>Services</a>
                            </li>
                            <li>
                                <a href="timetable-week.html"><i class="fa fa-plus"></i>Timetable</a>
                                <ul>
                                    <li><a href="timetable-month.html">Month View</a></li>
                                    <li><a href="timetable-week.html">Week View</a></li>
                                    <li><a href="timetable-list.html">List View</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="news-default.html"><i class="fa fa-plus"></i>News</a>
                                <ul>
                                    <li><a href="news-four-columns.html">Four columns</a></li>
                                    <li><a href="news-three-columns.html">Three columns</a></li>
                                    <li><a href="news-two-columns.html">Two columns</a></li>
                                    <li><a href="news-full-width.html">Full width</a></li>
                                    <li><a href="news-blog-post.html">Blog post</a></li>
                                </ul>
                            </li>
                            <li class="right">
                                <a href="index.html"><i class="fa fa-plus"></i>Features</a>
                                <ul>
                                    <li><a href="widgets.html">Various widgets</a></li>
                                    <li>
                                        <a href="#">Huge number of pages</a>
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="locations.html">Locations</a></li>
                                            <li><a href="doctors.html">Our Doctors</a></li>
                                            <li><a href="full-width-page.html">Full-Width Page</a></li>
                                            <li><a href="page-with-sidebar.html">Page with Sidebar</a></li>
                                            <li><a href="page-with-double-sidebar.html">Double Sidebars Page</a></li>
                                            <li><a href="page-404.html">404 Page</a></li>
                                            <li><a href="page-pricing-table.html">Pricing tables</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="feature-unlimited-color.html">Unlimited Color Variations</a>
                                    </li>
                                    <li><a href="responsive_and_retina_ready.html">Retina Ready &amp; Responsive</a></li>
                                    <li><a href="features-accordion.html">Styled Content Items</a></li>
                                </ul>
                            </li>
                            <li class="right">
                                <a href="photo-gallery.html"><i class="fa fa-plus"></i>Photo Tour</a>
                                <ul>
                                    <li>
                                        <a href="photo-four-filter.html">Four columns</a>
                                        <ul>
                                            <li><a href="photo-four-filter.html">With filter</a></li>
                                            <li><a href="photo-four.html">Without filter</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="photo-three-filter.html">Three columns</a>
                                        <ul>
                                            <li><a href="photo-three-filter.html">With filter</a></li>
                                            <li><a href="photo-three.html">Without filter</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="photo-two-filter.html">Two columns</a>
                                        <ul>
                                            <li><a href="photo-two-filter.html">With filter</a></li>
                                            <li><a href="photo-two.html">Without filter</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="photo-one.html">One column</a></li>
                                    <li><a href="photo-single.html">Single item</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html" class="active"><i class="fa fa-plus"></i>Contacts</a>
                            </li>
                        </ul>
                    </nav>
                    <!--/ main nav -->
                    <!-- mobile nav -->
                    <nav id="mobile-main-nav" class="mobile-main-nav">
                        <i class="fa fa-bars"></i><a href="#" class="opener">Navigation</a>
                        <ul>
                            <li>
                                <i></i><a href="index.html" class="active">Home</a>
                                <ul>
                                    <li>
                                        <i></i><a href="index.html">Medical Style</a>
                                        <ul>
                                            <li class="text">
                                                <h2>Main Campus</h2>
                                                <hr>
                                                <p>123 Fashion Avenue<br>New York, MO 265984</p>
                                                <hr>
                                                <p>203-284-2818<br>clinico@domain.com</p>
                                                <a href="#" class="more fa fa-angle-double-right"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="home-news.html">News Style</a></li>
                                    <li><a href="wellness-home.html">Wellness Style</a></li>
                                    <li><a href="home-one-page.html">Home Alternative</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="services.html">Servives</a>
                            </li>
                            <li>
                                <i></i><a href="timetable-week.html">Timetable</a>
                                <ul>
                                    <li><a href="timetable-month.html">Month View</a></li>
                                    <li><a href="timetable-week.html">Week View</a></li>
                                    <li><a href="timetable-list.html">List View</a></li>
                                </ul>
                            </li>
                            <li>
                                <i></i><a href="news-default.html">News</a>
                                <ul>
                                    <li><a href="news-four-columns.html">Four columns</a></li>
                                    <li><a href="news-three-columns.html">Three columns</a></li>
                                    <li><a href="news-two-columns.html">Two columns</a></li>
                                    <li><a href="news-full-width.html">Full width</a></li>
                                    <li><a href="news-blog-post.html">Blog post</a></li>
                                </ul>
                            </li>
                            <li>
                                <i></i><a href="index.html">Features</a>
                                <ul>
                                    <li><a href="widgets.html">Various widgets</a></li>
                                    <li>
                                        <i></i><a href="#">Huge number of pages</a>
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="locations.html">Locations</a></li>
                                            <li><a href="doctors.html">Our Doctors</a></li>
                                            <li><a href="full-width-page.html">Full-Width Page</a></li>
                                            <li><a href="page-with-sidebar.html">Page with Sidebar</a></li>
                                            <li><a href="page-with-double-sidebar.html">Double Sidebars Page</a></li>
                                            <li><a href="page-404.html">404 Page</a></li>
                                            <li><a href="page-pricing-table.html">Pricing tables</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="feature-unlimited-color.html">Unlimited Color Variations</a>
                                    </li>
                                    <li><a href="responsive_and_retina_ready.html">Retina Ready &amp; Responsive</a></li>
                                    <li><a href="features-accordion.html">Styled Content Items</a></li>
                                </ul>
                            </li>
                            <li>
                                <i></i><a href="photo-gallery.html">Photo Tour</a>
                                <ul>
                                    <li>
                                        <i></i><a href="photo-four-filter.html">Four columns</a>
                                        <ul>
                                            <li><a href="photo-four-filter.html">With filter</a></li>
                                            <li><a href="photo-four.html">Without filter</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <i></i><a href="photo-three-filter.html">Three columns</a>
                                        <ul>
                                            <li><a href="photo-three-filter.html">With filter</a></li>
                                            <li><a href="photo-three.html">Without filter</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <i></i><a href="photo-two-filter.html">Two columns</a>
                                        <ul>
                                            <li><a href="photo-two-filter.html">With filter</a></li>
                                            <li><a href="photo-two.html">Without filter</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="photo-one.html">One column</a></li>
                                    <li><a href="photo-single.html">Single item</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contacts.html">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                    <!--/ mobile nav -->
                </div>
            </div>
            <div class="sticky-container second-sticky">
                <!-- logo -->
                <section id="logo" class="logo">
                    <div>
                        <a href="index.html"><img src=@Url.Content("/Content/img/blue/logo.png") width="190" height="50" alt="Clinico"></a>
                    </div>
                </section>
                <!--/ logo -->
                <!-- main nav -->
                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="index.html"><i class="fa fa-plus"></i>Home</a>
                            <ul>
                                <li>
                                    <a href="index.html">Medical Style</a>
                                    <ul>
                                        <li class="text">
                                            <h2>Main Campus</h2>
                                            <hr>
                                            123 Fashion Avenue<br>New York, MO 265984
                                            <hr>
                                            203-284-2818<br>clinico@domain.com
                                            <a href="#" class="more"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="home-news.html">News Style</a></li>
                                <li><a href="wellness-home.html">Wellness Style</a></li>
                                <li><a href="home-one-page.html">Home Alternative</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="services.html"><i class="fa fa-plus"></i>Services</a>
                        </li>
                        <li>
                            <a href="timetable-week.html"><i class="fa fa-plus"></i>Timetable</a>
                            <ul>
                                <li><a href="timetable-month.html">Month View</a></li>
                                <li><a href="timetable-week.html">Week View</a></li>
                                <li><a href="timetable-list.html">List View</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="news-default.html"><i class="fa fa-plus"></i>News</a>
                            <ul>
                                <li><a href="news-four-columns.html">Four columns</a></li>
                                <li><a href="news-three-columns.html">Three columns</a></li>
                                <li><a href="news-two-columns.html">Two columns</a></li>
                                <li><a href="news-full-width.html">Full width</a></li>
                                <li><a href="news-blog-post.html">Blog post</a></li>
                            </ul>
                        </li>
                        <li class="right">
                            <a href="index.html"><i class="fa fa-plus"></i>Features</a>
                            <ul>
                                <li><a href="widgets.html">Various widgets</a></li>
                                <li>
                                    <a href="#">Huge number of pages</a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="locations.html">Locations</a></li>
                                        <li><a href="doctors.html">Our Doctors</a></li>
                                        <li><a href="full-width-page.html">Full-Width Page</a></li>
                                        <li><a href="page-with-sidebar.html">Page with Sidebar</a></li>
                                        <li><a href="page-with-double-sidebar.html">Double Sidebars Page</a></li>
                                        <li><a href="page-404.html">404 Page</a></li>
                                        <li><a href="page-pricing-table.html">Pricing tables</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="feature-unlimited-color.html">Unlimited Color Variations</a>
                                </li>
                                <li><a href="responsive_and_retina_ready.html">Retina Ready &amp; Responsive</a></li>
                                <li><a href="features-accordion.html">Styled Content Items</a></li>
                            </ul>
                        </li>
                        <li class="right">
                            <a href="photo-gallery.html"><i class="fa fa-plus"></i>Photo Tour</a>
                            <ul>
                                <li>
                                    <a href="photo-four-filter.html">Four columns</a>
                                    <ul>
                                        <li><a href="photo-four-filter.html">With filter</a></li>
                                        <li><a href="photo-four.html">Without filter</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="photo-three-filter.html">Three columns</a>
                                    <ul>
                                        <li><a href="photo-three-filter.html">With filter</a></li>
                                        <li><a href="photo-three.html">Without filter</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="photo-two-filter.html">Two columns</a>
                                    <ul>
                                        <li><a href="photo-two-filter.html">With filter</a></li>
                                        <li><a href="photo-two.html">Without filter</a></li>
                                    </ul>
                                </li>
                                <li><a href="photo-one.html">One column</a></li>
                                <li><a href="photo-single.html">Single item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contacts.html" class="active"><i class="fa fa-plus"></i>Contacts</a>
                        </li>
                    </ul>
                </nav>
                <!--/ main nav -->
                <!-- mobile nav -->
                <nav id="mobile-main-nav" class="mobile-main-nav">
                    <i class="fa fa-bars"></i><a href="#" class="opener">Navigation</a>
                    <ul>
                        <li>
                            <i></i><a href="index.html" class="active">Home</a>
                            <ul>
                                <li>
                                    <i></i><a href="index.html">Medical Style</a>
                                    <ul>
                                        <li class="text">
                                            <h2>Main Campus</h2>
                                            <hr>
                                            <p>123 Fashion Avenue<br>New York, MO 265984</p>
                                            <hr>
                                            <p>203-284-2818<br>clinico@domain.com</p>
                                            <a href="#" class="more fa fa-angle-double-right"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="home-news.html">News Style</a></li>
                                <li><a href="wellness-home.html">Wellness Style</a></li>
                                <li><a href="home-one-page.html">Home Alternative</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="services.html">Servives</a>
                        </li>
                        <li>
                            <i></i><a href="timetable-week.html">Timetable</a>
                            <ul>
                                <li><a href="timetable-month.html">Month View</a></li>
                                <li><a href="timetable-week.html">Week View</a></li>
                                <li><a href="timetable-list.html">List View</a></li>
                            </ul>
                        </li>
                        <li>
                            <i></i><a href="news-default.html">News</a>
                            <ul>
                                <li><a href="news-four-columns.html">Four columns</a></li>
                                <li><a href="news-three-columns.html">Three columns</a></li>
                                <li><a href="news-two-columns.html">Two columns</a></li>
                                <li><a href="news-full-width.html">Full width</a></li>
                                <li><a href="news-blog-post.html">Blog post</a></li>
                            </ul>
                        </li>
                        <li>
                            <i></i><a href="index.html">Features</a>
                            <ul>
                                <li><a href="widgets.html">Various widgets</a></li>
                                <li>
                                    <i></i><a href="#">Huge number of pages</a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="locations.html">Locations</a></li>
                                        <li><a href="doctors.html">Our Doctors</a></li>
                                        <li><a href="full-width-page.html">Full-Width Page</a></li>
                                        <li><a href="page-with-sidebar.html">Page with Sidebar</a></li>
                                        <li><a href="page-with-double-sidebar.html">Double Sidebars Page</a></li>
                                        <li><a href="page-404.html">404 Page</a></li>
                                        <li><a href="page-pricing-table.html">Pricing tables</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="feature-unlimited-color.html">Unlimited Color Variations</a>
                                </li>
                                <li><a href="responsive_and_retina_ready.html">Retina Ready &amp; Responsive</a></li>
                                <li><a href="features-accordion.html">Styled Content Items</a></li>
                            </ul>
                        </li>
                        <li>
                            <i></i><a href="photo-gallery.html">Photo Tour</a>
                            <ul>
                                <li>
                                    <i></i><a href="photo-four-filter.html">Four columns</a>
                                    <ul>
                                        <li><a href="photo-four-filter.html">With filter</a></li>
                                        <li><a href="photo-four.html">Without filter</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <i></i><a href="photo-three-filter.html">Three columns</a>
                                    <ul>
                                        <li><a href="photo-three-filter.html">With filter</a></li>
                                        <li><a href="photo-three.html">Without filter</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <i></i><a href="photo-two-filter.html">Two columns</a>
                                    <ul>
                                        <li><a href="photo-two-filter.html">With filter</a></li>
                                        <li><a href="photo-two.html">Without filter</a></li>
                                    </ul>
                                </li>
                                <li><a href="photo-one.html">One column</a></li>
                                <li><a href="photo-single.html">Single item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contacts.html">Contacts</a>
                        </li>
                    </ul>
                </nav>
                <!--/ mobile nav -->
            </div>
        </header>
        <!--/ page header -->
        
        <!-- quick search -->
        <form id="quick-search" class="quick-search">
            <fieldset>
                <legend>Quick Search:</legend>

                <input type="text" placeholder="Search by name" id="docname" name="docname" class="ui-autocomplete-input" autocomplete="off">

                <select>
                    <option value="0">Speciality</option>
                    <option value="1">Ophthomologist</option>
                    <option value="2">Dermatologist</option>
                    <option value="3">Neorologist</option>
                    <option value="4">Surgeon</option>
                </select>

                <select>
                    <option value="0">Locations</option>
                    <option value="1">Primary Health Care</option>
                    <option value="2">Gynaecological Clinic</option>
                    <option value="3">Diagnosis With Precise</option>
                    <option value="4">Cardiac Clinic</option>
                    <option value="5">General Surgery</option>
                </select>

                <button type="submit">Search</button>
                <div class="switcher">
                    <button id="quick-search-switcher" type="button">Find a doctor</button>
                </div>
            </fieldset>
        </form>
        
        <!-- page content -->

            @RenderBody()


      
        <!--/ page content -->
        <!-- page footer -->
        <footer class="page-footer">
            <a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>

            <div class="grid-row">
                <div class="grid-col grid-col-3">
                    <!-- last news -->
                    <section class="widget-alt last-news">
                        <div class="widget-icon"></div>
                        <div class="widget-title">Clinico</div>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit, consectetur adipiscing.</li>
                            <li>Donec quis condimentum leo, et congue dolor. Integer auctor facilisis odio. Duis vitae nibh tristique, consectetur lacus a, facilisis rutrum enim.</li>
                            <li>Cras fermentum interdum dapibus. Maecenas imperdiet, consectetur adipiscing magna nec odio cursus, vitae consequat ante.</li>
                        </ul>
                    </section>
                    <!--/ last news -->
                </div>

                <div class="grid-col grid-col-3">
                    <!-- location -->
                    <section class="widget-alt location">
                        <div class="widget-icon"></div>
                        <div class="widget-title">Location</div>
                        <address>Address will be appear here, some details here City Name, Country.</address>
                        <ul>
                            <li><i class="fa fa-phone"></i>(907) 555-55555</li>
                            <li><i class="fa fa-at"></i>company@youremail.com</li>
                            <li><i class="fa fa-skype"></i>Medical Skype Name</li>
                        </ul>
                        <nav>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </nav>
                    </section>
                    <!--/ location -->
                </div>

                <div class="grid-col grid-col-3">
                    <!-- last news -->
                    <section class="widget-alt recent-posts">
                        <div class="widget-icon"></div>
                        <div class="widget-title">Recent Posts</div>
                        <ul>
                            <li>
                                <a href="#"><img src=@Url.Content("/Content/pic/post/1.png") width="80" height="80" alt=""></a>
                                <p><a href="#">New study links lutein with eye health benefits, consectetur adipiscing</a><br>5 months ago</p>
                            </li>
                            <li>
                                <a href="#"><img src=@Url.Content("/Content/pic/post/2.png") width="80" height="80" alt=""></a>
                                <p><a href="#">Pets may reduce risk of heart disease, et congue dolor heart</a><br>8 months ago</p>
                            </li>
                            <li>
                                <a href="#"><img src=@Url.Content("/Content/pic/post/3.png") width="80" height="80" alt=""></a>
                                <p><a href="#">Discoveries offer a new explanation for diabetes, consectetur</a><br>10 months ago</p>
                            </li>
                        </ul>
                    </section>
                    <!--/ last news -->
                </div>

                <div class="grid-col grid-col-3">
                    <!-- work time -->
                    <section class="widget-alt work-time">
                        <div class="widget-icon"></div>
                        <dl>
                            <dt>Mon</dt>
                            <dd>08:00 am - 12:00 pm</dd>
                            <dt>Tue</dt>
                            <dd>01:00 am - 05:00 pm</dd>
                            <dt>Wed</dt>
                            <dd>Free day</dd>
                            <dt>Thu</dt>
                            <dd>08:00 am - 12:00 pm</dd>
                            <dt>Fri</dt>
                            <dd>08:00 am - 12:00 pm</dd>
                            <dt>Sat</dt>
                            <dd>08:00 am - 12:00 pm</dd>
                            <dt>Sun</dt>
                            <dd>Free day</dd>
                        </dl>
                        <a href="#" class="button">Make an Appointment</a>
                    </section>
                    <!--/ work time -->
                </div>
            </div>
        </footer>
        <!--/ page footer -->
        <!-- copyrights -->
        <div class="copyrights">Copyrights ©2014: Clinico - Responsive Medical and Health Template</div>
        <!--/ copyrights -->

    </div>

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery-ui.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.migrate.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/owl.carousel.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/owl.carousel.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.fancybox.pack.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.fancybox-media.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.flot.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.flot.pie.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.flot.categories.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/greensock.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/layerslider.transitions.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/layerslider.kreaturamedia.jquery.js")></script>



    <!-- Superscrollorama -->
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.superscrollorama.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/TweenMax.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/TimelineMax.min.js")></script>
    <!--/ Superscrollorama -->

    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.ui.core.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.ui.widget.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.ui.tabs.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery-ui-tabs-rotate.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.ui.accordion.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.tweet.js")></script>
    <!-- EASYPIECHART -->
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.easypiechart.js")></script>
    <!--/ EASYPIECHART -->
    <script type="text/javascript" src=@Url.Content("/Content/js/jquery.autocomplete.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/js/scripts.js")></script>
    <!--/ scripts -->
    <!-- tuner -->
    <script src=@Url.Content("/Content/tuner/js/scripts.js")></script>
    <div id="tuner" class="tuner">
        <label>Theme Colors</label>
        <ul class="colors">
            <li data-color="blue" class="color-blue active"><span></span></li>
            <li data-color="green" class="color-green"><span></span></li>
            <li data-color="pink" class="color-pink"><span></span></li>
            <li data-color="cyan" class="color-cyan"><span></span></li>
            <li data-color="orange" class="color-orange"><span></span></li>
            <li data-color="purple" class="color-purple"><span></span></li>
        </ul>
        <label>Layout Styles</label>
        <ul class="layouts">
            <li data-layout="boxed">Boxed</li>
            <li data-layout="widescreen" class="active">Widescreen</li>
        </ul>
        
    </div>
    <!--/ tuner -->
    <!-- Mirrored from html.creaws.com/clinico/contacts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Dec 2015 19:12:12 GMT -->
    <div class="autocomplete-suggestions" style="position: absolute; display: none; width: 198px; top: 82px; left: 234.297px; max-height: 300px; z-index: 9999;"></div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=init_map"></script>
</body>
</html>